

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body
{
    background-color: rgb(9, 59, 78);
}


h1
{
    color: white;
    margin-bottom: 20px;
    margin-bottom: 50px;
}

form
{
    width: 100%;
    margin: 20vh auto;
    padding: 3vw;
    max-width: 600px;
    background-color: rgb(19, 70, 92);
    border-radius: 50px;
    border: 1px solid rgb(6, 118, 138);
    min-width: 256px;
}

form:hover
{
    box-shadow: 3px 3px 5px 5px #052433; 
}

input[type="email"],[type="password"],button
{
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    outline:none;
}

.signMesg
{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 1.5vw;
    font-size: medium;
}

button
{
    font-size: medium;
    font-weight: bold;
    font-family: cursive;
    color: rgb(15, 41, 63);
}

button:hover
{
    background-color: rgb(15, 41, 63);
    color: white;
    border: 1px green solid;
}

a 
{
    text-decoration: none;
    color: white;
    background-color: rgb(10, 54, 83);
    border-radius: 4px;
    border: 1px solid green;
    padding: 5px;
}
  